/* Common Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: #fff;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
}

h1, h2, h3 {
  color: #46077a;
  text-align: center;
}

/* Mobile Styles */
@media (max-width: 767px) {
  .slider, .slider1, input[type="number"], label {
      display: block;
      width: 100%;
      margin: 10px 0;
  }

  h2 {
      margin-top: 20px;
  }
}

/* Desktop Styles */
@media (min-width: 768px) {
  .calculator {
      padding: 30px;
  }

  .slider, .slider1 {
      width: 100%;
  }

  .slider1 {
      margin-top: 20px;
  }

  input[type="number"], label {
      display: inline-block;
      width: 30%;
      margin: 10px;
  }

  .total-salary, .total-other, .total-deduction, #net-payable {
      text-align: right;
  }

  #net-payable {
      color: green;
  }
}
